:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: url('assets/background_2.webp') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 2.1em;
  line-height: 1.1;
  float: left;
}

h4 {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
}

label {
  font-size: 1em;
  line-height: 1.2em;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

.wrapper {
  justify-content: space-between;
  width: 90vw;
}

.panel {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerPanel {
  float: left;
  width: 95%;
  margin-bottom: 2rem;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.classPanel {
  float: left;
  width: 20vw;
}

.widgetsPanel {
  float: right;
  width: 57vw;
}

.resultsPanel {
  margin-top: 2em;
  float: right;
  width: 57vw;
}

.editSettingsPanel {
  margin-top: 0rem;
  width: 95%;
  float: left;
}

.memberCount {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: rgba(100, 100, 100);
  text-wrap: nowrap;
}

.subtitle {
  float: right;
  margin: 30px 0px 0px 20px;
}

.toggleEditMembers {
  font-size: 0.9rem;
  border: 1px solid rgba(70, 70, 70, 0.6);
  border-radius: 3px;
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  user-select: none;
  margin-right: 20px;
}

.toggleEditMembers:hover {
  background-color: rgba(70, 70, 70, 0.2);
}

.toggleEditMembers.selected {
  background-color: rgba(70, 70, 70, 0.2);
}

.toggleEditMembers.selected:hover {
  background-color: white;
}

.whoDunnit {
  font-size: 0.9rem;
  color: rgba(70, 70, 70, 0.5);
}

.whoDunnit a {
  font-size: 0.9rem;
  color: rgba(100, 100, 100, 0.5);
}

.settingsBox {
  align-items: left;
}

.backgroundSelectBox {
  margin-top: 20px;
  margin-right: 0px;
  border: 1px solid black;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 2px;
}

.classEditor {
  margin-top: 20px; /* Add some space above the textarea */
}

.labelCaption {
  display: inline-block;
  width: 22%;
  vertical-align: text-top;
}

.radio {
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

.radioButtonContainer {
  padding: 10px;
  margin: 20px 0px 20px 0px;
}

.remaindersWidget {
  margin-left: 20px;
}

.scrambleButton {
  width: 160px;
  height: 60px;
  font-size: 1.5rem;
  font-style: italic;
}

.classroom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 30px 30px 0px;
  padding: 5px 20px;
  width: 35%;
}

.boxProps {
  border: 1px solid rgba(37, 33, 33, 0.3);
  background-color: rgb(170, 215, 245);
  border-radius: 2px;
}

.groupPlaceholder {
  border-style: dashed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 30px 30px 0px;
  padding: 5px 20px;
  width: 35%;
  opacity: 0.15;
  transition: 0.2s;
  animation: animateGroupPlaceholder 0.3s ease-out;
}

.groupPlaceholder:hover {
  visibility: visible;
  opacity: 0.5;
  transition: 0.2s;
}

@keyframes animateGroupPlaceholder {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.addPlaceholderButtonContainer {
  position: relative;
  margin: 0;
  margin-right: 12px;
  margin-top: 7%;
  margin-left: -30px;
  width: 15px;
  height: 15px;
  opacity: 30%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.addPlaceholderButtonContainer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.addPlaceholderButtonContainer:hover {
  opacity: 100%;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.groupNumber {
  margin: 0;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 27px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: -15px;
  margin-left: -30px;
  padding-top: 3px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.groupNumber:hover {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.groupSizes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.groupSizesDisplay {
  font-weight: bold;
  padding: 5px 12px;
  margin: 0px 0.4rem 0.4rem 0px;
}

.memberName {
  margin: 10px auto;
  padding: 8px;
  color: white;
  background-color: rgba(54, 57, 143, 0.8);
  width: 35%;
  text-align: center;
  letter-spacing: 1px;
  border: 2px solid rgba(54, 57, 143, 0.8);
}

.fixedPositionMember {
  border: inset 4px;
  transition: 0.08s;
}

.groupAssign {
  float: right;
}

.toggleGroupAssign {
  font-size: 0.7em;
  cursor: pointer;
  text-decoration: none;
  float: right;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.classEditor {
  min-width: 500px;
  max-width: 100%;
  min-height: 400px;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
}

.classEditRulesList {
  list-style-type: disc;
  padding: 0px;
  margin: 20px 20px 20px 20px;
}

.membersContainer {
  padding: 10px;
  margin: 20px 0px 20px 0px;
}

#rawResultsTextArea {
  width: 100%;
  box-sizing: border-box;
}

.backgroundImageList {
  padding: 0;
  margin: 0;
}

.backgroundImageList input[type='radio'] {
  position: absolute;
  top: 5px;
  right: 5px;
}

.backgroundImageList label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 55px;
  padding: 8px;
  margin-right: -6px;
  border: 1px solid #ccc;
  border: 2px solid black;
  border-radius: 10;
  cursor: pointer;
}

.backgroundImageList label img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.3s;
}

.backgroundImageList label:hover img {
  transform: scale(1.1, 1.1);
}
.backgroundImageList input:first-child + label {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.backgroundImageList label:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.backgroundImageList input:checked + label {
  background-color: black;
}
